<body>
  <div class="container">
    <nav>
      <img src="http://blogs.citypages.com/blotter/GreenBayPackers.jpg" alt="packer_logo">
      <h3>Packer News</h3>
      <a href="/submit">Submit</a>
      <a href="/login">Login</a>
    </nav>
  </div>
  <div class="content">
    <ol>
      <% @posts.each do |post| %>
      <li><a href=<%="#{post.content}"%>><%= post.title %></a></li>
      <% end %>
    </ol>
  </div>
</body>