<div class="signup">
  <form action="/create_user" method="post">
    <input type="text" name="user[name]" placeholder="Please enter your name, Brotherrr!"><br>
    <input type="text" name="user[picture]" placeholder="Please enter a link to the picture you want"><br>
    <input type="text" name="user[password]" placeholder="Create a password, Brotherrr!"><br>
    <input type="submit" value="Now you're ready to play!!"><br>
  </form>
  <a href="/">Back to Lambeau Field (Home)</a>
</div>